html {height: 100%}
body {
    margin: 0px auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 2em;  }
h2 { font-size: 1.6em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.0em; }
p {
    font-size: 1.0em;
    line-height: 1.2em;
    color: #333;
}

/* Navigation */
.site-header{
    border-top: 5px solid #424242;
    border-bottom: 1px solid #e8e8e8;
    min-height: 55.95px;
    position: relative;}
.wrapper-header{
    max-width:-webkit-calc(1050px - (30px * 2));
    max-width:calc(1050px - (30px * 2));
    margin-right:auto;
    margin-left:auto;
    padding-right:30px;
    padding-left:30px}
@media screen and (max-width: 1050px){
    .wrapper-header{
        max-width:-webkit-calc(1050px - (30px));
        max-width:calc(1050px - (30px));
        padding-right:15px;
        padding-left:15px}}
.wrapper-header:after{content:"";display:table;clear:both}
.site-title{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size:2em;
    float:left;}
.site-nav{float:right;}

/* Post */
.wrapper-post{
    flex: 1 0 auto;
    max-width:-webkit-calc(950px - (30px * 2));
    max-width:calc(950px - (30px * 2));
    margin-right:auto;
    margin-left:auto;
    padding-right:30px;
    padding-left:30px}
@media screen and (max-width: 950px){
    .wrapper-post{
        max-width:-webkit-calc(950px - (30px));
        max-width:calc(950px - (30px));
        padding-right:15px;
        padding-left:15px}}
.wrapper-post:after{content:"";display:table;clear:both}
.post-header{margin-bottom:30px;float: left;}
.post-title{font-size:42px;letter-spacing:-1px;line-height:1;}
@media screen and (max-width: 800px){.post-title{font-size:36px}}
.post-content{margin-bottom:30px}
.post-content h2{font-size:32px}
@media screen and (max-width: 800px){.post-content h2{font-size:28px}}
.post-content h3{font-size:26px}
@media screen and (max-width: 800px){.post-content h3{font-size:22px}}
.post-content h4{font-size:20px}
@media screen and (max-width: 800px){.post-content h4{font-size:18px}}

/* Footer */
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
.footer{
    flex-shrink: 0;
}
.wrapper-footer{
    max-width:-webkit-calc(1050px - (30px * 2));
    max-width:calc(1050px - (30px * 2));
    margin-right:auto;
    margin-left:auto;
    padding-right:30px;
    padding-left:30px}
@media screen and (max-width: 1050px){
    .wrapper-footer{
        max-width:-webkit-calc(1050px - (30px));
        max-width:calc(1050px - (30px));
        padding-right:15px;
        padding-left:15px}}
.wrapper-footer:after{content:"";display:table;clear:both}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
footer ul li {
    display: inline;
    margin-right: 20px;
}


/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }
