<!DOCTYPE html>
<html>
		<head>
				<title>{{ page.title}}</title>
				<!-- link to main stylesheet-->
				<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
				<script type="text/javascript" id="MathJax-script" async
					src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
				</script>
		</head>
		<body>
				{% include navigation.html %}
				<div class="container">
                
                {{ content }}

				</div><!-- /.container -->
				<footer>
						<ul>
								<li><a href="mailto:Jingbang.Liu@warwick.ac.uk">email</a></li>
								<li><a href="https://github.com/JingBang-Liu">github.com/JingBang-Liu</a></li>
						</ul>
				</footer>
		</body>
</html>
